@layout.app({ title: "Dashboard" })

    @slot('meta')
        <meta name="description" content="Dashboard Page for authenticated users">
    @endslot
    
    @slot('content')
        <h1 class="text-center">Dashboard</h1>
    @endslot

@end

